
<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.we.org/1999/xhtml"
	layout:decorate="~{layout}">
<meta charset="UTF-8"/>
<head>
<title>Burn</title>
</head>
<section class="layout-content" layout:fragment="conteudo">
	<section class="layout-content">
<br><br><br><br>

		<div class="container">
			<nav class="navbar navbar-expand-md bg-secondary text-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						
					</ul>
				
				</div>
			</nav>
		</div>
		<div class="container">
			<div class="table-wrapper container grad w3-center">
				<table id="myTable" class="table table-striped table-dark text-center">
					<thead>
						<tr id="data_table">
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>ID</a></th>
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>Equipe</a></th>
							<!-- <th><a class="neon-bt"><span></span><span></span><span></span><span></span>player1</a></th>
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>player2</a></th>
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>player3</a></th>
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>player4</a></th> -->
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>contato</a></th>
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>Ação</a></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="equipe : ${equipes}">
							<td> </td>
							<td th:text="${equipe.nome}"></td>
							<td th:text="${equipe.player1}"></td>
							<td th:text="${equipe.player2}"></td>
							<td th:text="${equipe.player3}"></td>
							<td th:text="${equipe.player4}"></td>
							<td th:text="${equipe.contato}"></td>
							<td colspan="2">
							<a class="btn btn-light btn-sm mr-2" role="button" th:href="@{/editarEquipe/{id}(id=${equipe.id})}">
									<span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>

									<a data-toggle="modal" data-target="#modal-warning" class="btn btn-light btn-sm ml-2" th:attr="data-target='#modal-warning'+${equipe.id}">
									<span class="oi oi-x text-dark" title="Excluir" aria-hidden="true"></span></a></td>

							<div class="modal modal-warning fade in" th:id="modal-warning+${equipe.id}">

								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<h2 class="modal-title">Atenção</h2>

										</div>
										<div class="modal-body">
											<h5>Confirma a exclusão do registro?</h5>
										</div>
										<div class="modal-footer">
											<a type="button" class="btn btn-outline" th:href="@{/excluirEquipe/{id}(id=${equipe.id})}" onclick="funcao2()">Sim</a>
											<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Não</button>
										</div>
									</div>
								</div>
							</div>
						</tr>
					</tbody>
				</table>
			</div>
		</div>






  
	</section>
</section>



</body>

</html>
