<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.we.org/1999/xhtml" layout:decorate="~{layout}">
<meta charset="UTF-8"/>
    <head>
    <title>Home</title>
	</head>
<body>
<section class="layout-content" layout:fragment="conteudo">
  
  

   <section id="teste" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
                <br><br><br><br><br><br>
              <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Eventos Passados</h1>
             
            </div>
          </div>
        </div>
        <div class="row">
        
            
      
            
     <div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/video1.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/video3.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/1.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/2.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/3.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/4.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/5.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/6.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>


<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/7.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/8.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/9.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/10.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/11.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/12.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/13.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/14.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/15.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/16.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>


<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/17.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/18.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/19.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="..video/20.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/21.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/22.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/23.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/24.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/25.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/26.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/27.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/28.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/29.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/30.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/31.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/32.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/33.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/34.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/35.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/36.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/37.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/38.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/39.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/40.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>
<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/41.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/42.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/43.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/44.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/45.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/46.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/47.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/48.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/49.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/50.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/51.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/52.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/53.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/54.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/55.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/56.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/57.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/58.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

<div class="div7 ml-5">     
  

<div class="meio ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/59.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
 <div class="direita ml-5 mr-5">
<video  width="420" height="980" autoplay loop muted>

    <source src="../src/main/resources/static/video/60.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
</div>

  
          </div>
      </div>
    </section>
  	</section>
		
	</div>
  
 

<footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">&copy; 2022 - Lucas Fonseca - Todos os direitos reservados.</span>
		</div>
	</footer>
 <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-chevron-up"></i>
    	
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-min.js"></script>
    <script src="../js/table.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.countdown.min.js"></script>
    <script src="../js/jquery.nav.js"></script>
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/wow.js"></script>
    <script src="../js/jquery.slicknav.js"></script>
    <script src="../js/nivo-lightbox.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/form-validator.min.js"></script>
    <script src="../js/contact-form-script.min.js"></script>
    <script src="../js/map.js"></script>
    <script type="../js/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
      
  </body>
</html>
