<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.we.org/1999/xhtml" layout:decorate="~{layout}">
<meta charset="UTF-8"/>
    <head>
    <title>Burn</title>
	</head>

<section class="layout-content" layout:fragment="conteudo">
  
  

    <section id="teste" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Nossos Campeões</h1>
             
            </div>
          </div>
        </div>
       
	      
	      
<div class="row">
        
      
     <div class="div7">     
  

<div class="meio">
<video  width="420" height="980" autoplay loop muted >

    <source src="../video/video1.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>

</div>
 </div>
   <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/video2.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>

 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/video3.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>
	      
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/10.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/12.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/14.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>	      
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/17.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>	      
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/18.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>	      
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/2.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/20.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>	      
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/21.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>	      
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/28.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>	      
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/29.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>	      
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/30.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/37.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>	      
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/38.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>	      
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/40.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>	      
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/5.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div>	      
  <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/56.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div> 
 <div class="row">
<div class="div7">     
  
<div class="direita">
<video  width="420" height="980" autoplay loop muted>

    <source src="../video/8.mp4" type="video/mp4">

  <p>Your browser doesn't support HTML5 video. Here is a <a href="video.mp4">link to the video</a> instead.</p>
</video>

 </div>
  </div>
          </div> 
	      
	      
      </div>
    </section>
		
	</div>
  
 

<footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">&copy; 2022 - Lucas Fonseca - Todos os direitos reservados.</span>
		</div>
	</footer>
 <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-chevron-up"></i>
    	
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-min.js"></script>
    <script src="../js/table.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.countdown.min.js"></script>
    <script src="../js/jquery.nav.js"></script>
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/wow.js"></script>
    <script src="../js/jquery.slicknav.js"></script>
    <script src="../js/nivo-lightbox.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/form-validator.min.js"></script>
    <script src="../js/contact-form-script.min.js"></script>
    <script src="../js/map.js"></script>
    <script type="../js/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
      
  </body>
</html>
