<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Liga Burn Axnet</title>

<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="../fonts/line-icons.css">
  <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="../css/responsive.css">
     <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="../css/animate.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="../css/nivo-lightbox.css" >
     <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="../css/slicknav.css">

  </head>
  <body>

     <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="/" class="navbar-brand mr-5"><img src="image/logo.png" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.axnet.com.br">Quem somos ?</a>
              </li>
              <li class="nav-item">
               <!--  <a class="nav-link" href="/cadastrarEquipe2">Inscrição</a> -->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/listarTabela2">Classificação</a>
              </li>
              <li class="nav-item">
              
                <a sec:authorize="hasAuthority('admin')" class="nav-link"th:href="@{/areaAdmin}">Área Admin</a>
              </li>
              <li class="nav-item">
             <!--   <a class="nav-link" href="/login">Entrar</a> -->
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
          <li>
            <a class="page-scrool" href="/">Home</a>
          </li>
          <li>
            <a class="page-scrool" href="https://www.axnet.com.br">Quem somos ?</a>
          </li>
          <li>
             <a class="page-scroll" href="/cadastrarEquipe2">Inscrição</a>
          </li>
          <li>
            <a class="page-scroll" href="/listarTabela2">Classificação</a>
          </li>
          <li>
            <a sec:authorize="hasAuthority('admin')" class="nav-link" th:href="@{/areaAdmin}">Área Admin</a>
          </li>
          <li class="nav-item">
               <!-- <a class="btn btn-outline-primary" href="/login">Entrar</a> -->
              </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->
       </header>
  
  
  <div class="layout-main">

		<section class="layout-content" layout:fragment="conteudo">
			
			
		</section>
		
	</div>
  
 
<br><br><br><br>
<footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">&copy; 2022 - <a href="https://www.instagram.com/luskafonseca_">Lucas Fonseca </a><a> - Todos os direitos reservados.</a></span>
		</div>
	</footer>
 <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-chevron-up"></i>
    	
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-min.js"></script>
    <script src="../js/table.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.countdown.min.js"></script>
    <script src="../js/jquery.nav.js"></script>
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/wow.js"></script>
    <script src="../js/jquery.slicknav.js"></script>
    <script src="../js/nivo-lightbox.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/form-validator.min.js"></script>
    <script src="../js/contact-form-script.min.js"></script>
    <script src="../js/map.js"></script>
    <script type="../js/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
      
  </body>
</html>
