
<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.we.org/1999/xhtml"
	layout:decorate="~{layout}">
<meta charset="UTF-8"/>
<head>
<title>Burn</title>
</head>

<section class="layout-content" layout:fragment="conteudo">

	<section class="layout-content">
		<div class="container pt-5">
			<nav
				class="navbar navbar-expand-md navbar-top text-light pt-5">
				<div class="collapse navbar-collapse pt-5" id="navbarsExampleDefault">
					<ul class="navbar-nav  mr-auto pt-5">
						<li class="nav-item active">
							<h4>Cadastro de Permissao</h4>
						</li>
					</ul>
					<a class="btn btn-light btn-md" href="/listarPermissao" role="button"> <span
						class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
						<span>Listar Permissao</span>
					</a>
				</div>
			</nav>
		</div>
		
		<div class="container">  

 <form action="/salvarPermissao" method="POST" th:object=${permissao} id="contact">

  <div class="form-group row  p-5">
  
    <h3>Usuario</h3>
    
    <fieldset>
    <select id="usuario" class="form-control" th:field="*{usuario}">
							<option th:each="usuario: ${usuarios}" th:value="${usuario.id}" th:text="${usuario}">Selecione...</option>
						</select>
						<div class="invalid-feedback"></div>
    </fieldset>
  
   <h3>Permissao</h3>
   <fieldset>
   
   <select id="uf" class="form-control" th:field="*{papel}">
							<option th:each="papel: ${papeis}" th:value="${papel.id}" th:text="${papel}">Selecione...</option>
						</select>
	</fieldset>					
	
	
	<fieldset>			
	
   </fieldset>
    <fieldset>
  	<input type="hidden" id="id" value="" th:field="*{id}" />
				<button type="submit" class="btn btn-light btn-sm" onclick="funcao3()">Salvar</button>
    </fieldset>
  </form>
  </div>
		
		
		
	
	</section>
	</body>
</html>
