
<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.we.org/1999/xhtml"
	layout:decorate="~{layout}">
<meta charset="UTF-8"/>
<head>
<title>Burn</title>
</head>
<br><br><br><br><br><br><br><br><br><br><br><br>
<section class="layout-content" layout:fragment="conteudo">

	<section class="layout-content pt-4">
		<div class="container pt-5">
			<nav
				class="navbar navbar-expand-md navbar-top text-light pt-5">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav  mr-auto">
						<li class="nav-item active">
							<h4>Cadastro de Papeis</h4>
						</li>
					</ul>
					<a class="btn btn-light btn-md" href="/listarPapel" role="button"> <span
						class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
						<span>Listar Papeis</span>
					</a>
				</div>
			</nav>
		</div>
		
		<div class="container">  

 <form action="/salvarPapel" method="POST" th:object=${role} id="contact">

  <div class="form-group row  p-5">
  
    <h3>Papel</h3>
    
    <fieldset>
     <input type="text" class="form-control" id="nomeRole" placeholder="Nome Papeis" autofocus="autofocus"  th:field="*{nomeRole}"/>
    </fieldset>

   
    <fieldset>
  		<input type="hidden" id="id" value="" th:field="*{id}" />
		<button type="submit" class="btn btn-light btn-sm">Salvar</button>
    </fieldset>
  </form>
  </div>
		
	</section>
	</body>
</html>
