<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.we.org/1999/xhtml" layout:decorate="~{layout}">
<meta charset="UTF-8"/>
    <head>
    <title>Home</title>
	</head>
<body>
<section class="layout-content" layout:fragment="conteudo">
<br><br><br><br>

	<div class="container">
			<nav
				class="navbar navbar-expand-md navbar-top bg-secondary text-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav  mr-auto">
						<li class="nav-item active">
							<h4>Cadastro de Equipes na Tabela</h4>
						</li>
					</ul>
					<a class="btn btn-primary btn-md" href="/listarTabela"
						role="button"> <span class="oi oi-spreadsheet"
						title="Cadastro" aria-hidden="true"></span> <span>Listar
							Tabelas</span>
					</a>
				</div>
			</nav>
		</div>
		<div class="container p-5" id="cadastro">

			<form action="/salvarTabela" method="POST" th:object=${tabela}>

				<div class="form-group row  p-5">
					<label for="nome" class="col-sm-4 col-form-label">Equipes</label>

					<div class="col-sm-8">
						<input type="text" class="form-control" id="nome"
							placeholder="Nome da Equipe" autofocus="autofocus" value=""
							th:field="*{nome}" />
						<div class="invalid-feedback"></div>
					</div>

				</div>

				

				<input type="hidden" id="id" value="" th:field="*{id}" />

				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
			</form>
		</div>




 </section>
 
</body>

</html>