
<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.we.org/1999/xhtml" layout:decorate="~{layout}">
<meta charset="UTF-8"/>
<head>
<title>Burn</title>
</head>
<section class="layout-content" layout:fragment="conteudo">
<br><br><br><br>

	
		<div class="container">
			<nav class="navbar navbar-expand-lg scrolling-navbar">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active ml-3">
							<h4 style="color:white">Controle de Equipes</h4>
						</li>
					</ul>
					<a class="btn btn-light mr-3" href="/cadastrarTabela"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Cadastrar Nova Equipe na Tabela</span>
					</a>
				</div>
			</nav>
		</div>
		<div class="container">
			<div class="table-responsive container grad w3-center">
				<table id="myTable" class="table table-striped table-dark text-center">
					<thead>
						<tr id="data_table">
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>Classificação</a></th>
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>Equipe</a></th>
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>Booyah!</a></th>
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>Abates</a></th>
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>Pontos</a></th>
							<th><a class="neon-bt"><span></span><span></span><span></span><span></span>#</a></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tabela : ${tabelas}">
							<td> </td>
							<td th:text="${tabela.nome}"></td>
							<td th:text="${tabela.boya}"></td>
							<td th:text="${tabela.abate}"></td>
							<td th:text="${tabela.ponto}"></td>
							<td colspan="2">
							<a class="btn btn-light btn-sm mr-2" role="button" th:href="@{/editarTabela/{id}(id=${tabela.id})}">
									<span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>

									<a data-toggle="modal" data-target="#modal-warning" class="btn btn-light btn-sm ml-2" th:attr="data-target='#modal-warning'+${tabela.id}">
									<span class="oi oi-x text-dark" title="Excluir" aria-hidden="true"></span></a></td>

							<div class="modal modal-warning fade in" th:id="modal-warning+${tabela.id}">

								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<h2 class="modal-title">Atenção</h2>

										</div>
										<div class="modal-body">
											<h5>Confirma a exclusão do registro?</h5>
										</div>
										<div class="modal-footer">
											<a type="button" class="btn btn-outline" th:href="@{/excluirTabela/{id}(id=${tabela.id})}" onclick="funcao2()">Sim</a>
											<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Não</button>
										</div>
									</div>
								</div>
							</div>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

</section>

</body>

</html>
