
<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.we.org/1999/xhtml"
	layout:decorate="~{layout}">
<meta charset="UTF-8"/>
<head>
<title>Burn</title>
</head>

<section class="layout-content" layout:fragment="conteudo">

	<section class="layout-content">
		<div class="container">
			<nav
				class="navbar navbar-expand-md navbar-top text-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav  mr-auto">
						<li class="nav-item active">
							<h4>Cadastro de Usuario</h4>
						</li>
					</ul>
					<a class="btn btn-light btn-md" href="/listarUsuario" role="button"> <span
						class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
						<span>Listar Usuario</span>
					</a>
				</div>
			</nav>
		</div>
		
		
		
		<div class="container">  

 <form action="/salvarUsuario" method="POST" th:object=${usuario} id="contact">

  <div class="form-group row  p-5">
  
    <h3>Usuario</h3>
    
    <fieldset>
      <input type="text" class="form-control" id="nome" placeholder="Nome da usuario" autofocus="autofocus" value="" th:field="*{nome}"/>
    </fieldset>
  
   <h3>Senha</h3>
   <fieldset>
  <input type="password" class="form-control" id="senha"
placeholder="Senha" autofocus="autofocus" value="" th:field="*{senha}"/>
   </fieldset>
    <fieldset>
  	<input type="hidden" id="id" value="" th:field="*{id}" />
				<button type="submit" class="btn btn-light btn-sm">Salvar</button>
    </fieldset>
  </form>
  </div>
		
		
		
	
	</section>
	</body>
</html>
